:root {
  --smallgap: 3px;
  --mediumgap: 6px;
  --largegap: 9px;
  --hugegap: 12px;
  --fontsize: 13px;
}

html {
  width: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: var(--fontsize);
  font-weight: bold;
  color: white;
  background-color: black;
  overflow-x: hidden;
  overflow-y: visible;
}

.console-header {
  top: 0;
  width: 100%;
  min-height: 48px;
	margin-left: var(--mediumgap);
	margin-right: var(--mediumgap);
  padding: 0px 12px;
  z-index: 10;
  display: flex;
  position: sticky;
  align-items: center;
  color: lime;
  background-color: black;
}

.console-output {
  width: 100%;
  min-height: 0;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  background-color: black;
  overflow-y: auto;
}

.log-content {
  margin-left: var(--mediumgap);
  margin-right: var(--mediumgap);
  margin-bottom: var(--mediumgap);
  padding-bottom: 0;
  white-space: pre-wrap;
  word-break: break-word;
  font-size: var(--fontsize);
  font-weight: bold;
  background-color: black;
}
.log {
  color: lime;
}
.info {
  color: gainsboro;
}
.warn {
  color: yellow;
}
.error {
  color: red;
  text-decoration: underline;
}
.text {
  color: lime;
  font-style: normal;
	filter: brightness(1.44);
}
.script {
  color: lime;
  font-style: italic;
  padding-left: var(--mediumgap);
	filter: brightness(1.44);
}
.script-eval {
  color: cyan;
  font-style: italic;
  padding-left: var(--mediumgap);
	filter: brightness(1.44);
}

.user-input,
.user-input:focus {
  resize: none;
  flex: 0 0 auto;
  overflow-x: hidden;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: var(--smallgap);
  padding-right: var(--smallgap);
  margin-bottom: 0;
  margin-top: var(--smallgap);
  margin-left: var(--mediumgap);
  margin-right: var(--mediumgap);
  min-width: calc(100% - calc(var(--mediumgap) * 4));
  max-width: calc(100% - calc(var(--mediumgap) * 4));
  max-height: 18vh;
  opacity: 1.0;
  color: white;
  background-color: black;
  font-weight: bold;
  font-size: var(--fontsize);
  caret-shape: block;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  transition:
    opacity 144ms ease,
    transform 210ms ease,
    margin-top 210ms ease,
    margin-bottom 210ms ease,
    padding-top 210ms ease,
    padding-bottom 210ms ease,
    max-height 210ms ease;
}
.user-input:focus {
  filter: brightness(1.44);
}

.user-input-text,
.user-input-text:focus {
  height: calc(var(--fontsize) * 1.44);
  font-style: normal;
  color: lime;
  caret-color: lime;
	caret-shape: block;
	border: none;
	overflow-y: hidden;
}

.user-input-script,
.user-input-script:focus {
  height: 18.7167px;
  font-style: italic;
	color: lime;
  caret-color: lime;
	caret-shape: block;
  border: none;
  overflow-y: auto;
}

.user-input-hidden {
  opacity: 0;
  max-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  pointer-events: none;
  transform: translateY(111%);
}
