:root {
	--smallgap: 3px;
	--mediumgap: 6px;
	--largegap: 9px;
	--hugegap: 12px;
	--fontsize: 13px;
}

html {
	width: 100%;
}

body {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
    overflow-x: hidden;
    overflow-y: visible;
	color: white;
	background-color: black;
    font-size: var(--fontsize);
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.console-output {
	width: 100%;
	min-height: 0;
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
    text-align: left;
    background-color: black;
}
.log-content {
	margin-left: var(--mediumgap);
	margin-right: var(--mediumgap);
	margin-bottom: 0;
	padding-bottom: 0;
	white-space: pre-wrap;
	word-break: break-word;
    font-size: var(--fontsize);
	font-weight: bold;
	background-color: black;
}
.log {
    color: lime;
}
.info {
    color: light-gray;
    text-decoration: underline;
}
.warn {
    color: yellow;
}
.error {
    color: red;
    text-decoration: underline;
}
.text {
    color: cyan;
    font-style: normal;
}
.script {
    color: lime;
    font-style: italic;
	font-weight: normal;
	padding-left: var(--mediumgap);
}
.script-eval {
    color: lime;
    font-style: italic;
    padding-left: var(--hugegap);
}

.user-input,
.user-input:focus {
	resize: none;
	flex: 0 0 auto;
	overflow-x: hidden;
	padding-top: 0; /*var(--smallgap);*/
	padding-bottom: 0; /*var(--smallgap);*/
	padding-left: var(--smallgap);
	padding-right: var(--smallgap);
	margin-top: var(--smallgap);
	margin-bottom: 0; /*var(--smallgap);*/
	margin-left: var(--mediumgap);
	margin-right: var(--mediumgap);
	min-width: calc(100% - calc(var(--mediumgap) * 4));
	max-width: calc(100% - calc(var(--mediumgap) * 4));
	max-height: 18vh;
	opacity: 1.0;
	color: white;
    background-color: black;
	font-weight: bold;	
	font-size: var(--fontsize);
	caret-shape: block;
	/*border-radius: 3px;*/
	box-sizing: border-box;
	outline: none;
	box-shadow: none;
	appearance: none;
	-webkit-appearance: none;
	transition:
		opacity 144ms ease,
		transform 210ms ease,
		margin-top 210ms ease,
		margin-bottom 210ms ease,
		padding-top 210ms ease,
		padding-bottom 210ms ease,
		max-height 210ms ease;
}
.user-input:focus {
	filter: brightness(1.44);
}

.user-input-text,
.user-input-text:focus {
	height: calc(var(--fontsize) * 1.44);
	overflow-y: hidden;
    color: cyan;
    font-style: normal;
	border: none;
	/*border: solid 1px cyan;*/
}

.user-input-script,
.user-input-script:focus {
	height: 18.7167px;
	overflow-y: auto;
    color: lime;
	font-style: italic;
	border: none;
    /*border: solid 1px lime;*/
}

.user-input-hidden {
	opacity: 0;
	max-height: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	pointer-events: none;
	transform: translateY(111%);
}
